body{background: #f8f8f8;padding: 0;margin: 0;}
ul,nav,ol{list-style: none;padding: 0;margin: 0;}
.btn-secondary{
    background-color: #333333;
    color: #fff;
}
.btn-padd{    padding: 10px 5%;}
/*=============== ============*/
.main_wrapper{margin: 15px auto;background: #fff;-webkit-box-shadow: 0 0 10px 1px #eee;-moz-box-shadow: 0 0 10px 1px #eee;box-shadow: 0 0 10px 1px #eee;max-width: 95%;margin: 0 auto;    float: none;
overflow: hidden;}
.main_wrapper .headers{background-image: url('../img/headsbg.jpg');background-size: cover;
    background-position: center;
    background-repeat: no-repeat;padding: 0;
    }
.main_wrapper .headers .inners{padding: 15px;
	width: 100%;height: 100%;    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}
.main_wrapper .headers .inners .logos{width: 20%;float: left;}
.main_wrapper .headers .inners .logos img{height: 175px;}
.main_wrapper .headers .inners .forms{width:220px;float: right;}
.main_wrapper .headers .inners .forms form{margin-top: 15px;overflow: hidden;}
.main_wrapper .headers .inners .forms .form-group{width: 100%;margin-bottom: 5px;height: auto;overflow: hidden;}
.main_wrapper .headers .inners .forms label{float: left; width: 33%;text-align: right;color: #fff;}
.main_wrapper .headers .inners .forms button.btn-info{width: 120px;float: right;
border: none;
box-shadow: none;    padding: 5px;
}
.main_wrapper .headers .inners .forms a.lostpassword{width: 55px;float: left;font-size: 13px;    color: #fff;}
.main_wrapper .headers .inners .forms button.zbutton2{    color: #fff;
    background: #222;
    padding: 5px;
    border: none;
    box-shadow: none;
    outline: none;}
.main_wrapper .headers .inners .forms input{
    width: 65%;
    float: right;
		padding: 0px;
		height: 20px;
}
/*=============== ============*/
.left_sidebar,.right_sidebar{width: 18%;float: left;}
.main_posts{width: 64%;float: left;padding:30px 20px;}
.main_posts .posts img{max-width: 100%;}
.widgets{margin-bottom: 25px;}
.left_sidebar .widgets h2,.right_sidebar .widgets h2{
    background-color: #333333;
    padding: 7px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    border-left-style: solid;
    border-left-color: #cc0000;
    border-left-style: solid;
    border-left-width: 7px;
}
.left_sidebar .widgets .contents,.right_sidebar .widgets .contents{
	background-color: white;
	padding: 15px;
	font-size: 11px;
	vertical-align: middle;
	border-left-style: solid;
	border-left-color: #dedede;
	border-left-style: solid;
	border-left-width: thin;
	border-right-style: solid;
	border-right-color: #dedede;
	border-right-style: solid;
	border-right-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #dedede;
	border-bottom-style: solid;
	border-bottom-width: thin;
	text-align: center;
}
.left_sidebar .widgets .contents img,.right_sidebar .widgets .contents img{max-width: 100%;}
.widgets ul{text-align: left;}
.widgets ul li{position: relative;padding-left: 10px;}
.widgets ul li a{color: #333;padding: 5px;display: inline-block;}
.widgets ul li:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #dd0505;
}
.posts .npost{
	background-color: white;
  padding: 25px;
  font-size: 11px;
  vertical-align: middle;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 5px 1px #ddd;
	position: relative;
}
.posts .npost .npost_head h4{
	font-size: 35px;
	font-weight: bold;
}
.posts .npost .npost_head h4 a{color: #111;}
.posts .npost .details{display: inline-block;overflow: hidden;padding: 15px;width: 100%;text-align: left;}
.posts .npost .nblock_foot{position: absolute;right: 3%;bottom: 5%;}
.posts .npost .npost_categ{overflow: hidden;width: 100%;display: block;}
.posts .npost .npost_categ a{display: inline-block;    background: #cc0000;
    color: #fff;padding: 6px 12px;margin: 5px;}
.posts .npost .npost_metadata{padding: 5px 0;margin-bottom: 15px;    overflow: hidden;}
.npost_metadata .cols{margin-right: 10px;float: left;}
.npost_metadata .cols i{margin-right: 5px;float: left;color: #7b4609;}
.npost_metadata .cols a{color: #666;}
/*=============== ============*/
.post_navigation{width: 100%;clear: both;margin: 15px 0;text-align: center;}
.post_navigation a:link, .post_navigation a:visited, .post_navigation a:active,.post_navigation span {
    text-decoration: none;
    color: black;
    background-color: #fafafa;
    border: 1px solid #dedede;
    padding: 5px 10px;
    font-size: 12px;
}
/*=============== ============*/
footer{
	background-color: #fafafa;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 10px;
  padding: 10px;
  vertical-align: text-bottom;
  border: 1px solid #dedede;
  text-align: center;
	margin: 10px 0;
}
footer p{margin: 10px 0;}
/*=============== ============*/
.login_page{padding: 15px;margin:0;}
/*=============== ============*/
.regiser_page{padding: 15px;margin: 0;}
.regiser_page h3{
  background-color: #333333;
  padding: 15px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  border-left-style: solid;
  border-left-color: #cc0000;
  border-left-style: solid;
  border-left-width: 7px;
}
/*=============== ============*/
.headsprof{float: right;max-width: 200px;
    width: 200px;margin-right: 25px;margin-top: 25px;}
.headsprof .img{padding:15px 10px;}
.headsprof .img img{width: 100%;height: auto;}
.headsprof .links ul{margin-top: 10px;}
.headsprof .links,.headsprof .links ul{padding: 0;text-align: left;color: #fff;}
.headsprof .links strong{font-size: 13px;}
.headsprof .links li{margin: 3px 0;}
.headsprof .links li a{font-size: 12px;padding: 2px;color: #fff;text-decoration: underline;}
.headsprof .links li a:hover{background: transparent;color: #f79623;}
/*=============== ============*/
.myprofiles h3{  background-color: #333333;
  padding: 15px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  border-left-style: solid;
  border-left-color: #cc0000;
  border-left-style: solid;
  border-left-width: 7px;
}
.myprofiles .usreinfo{text-align: left;}
.myprofiles .usreinfo .img{width: 150px;height: 220px;padding-top: 35px;    text-align: center;}
.myprofiles .usreinfo .img a{padding: 5px;background: #333;color: #fff;margin: 25px auto 0;display: inline-block;}
.myprofiles .links li{
  margin: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 11px;
}
.editprofil_contents{padding: 25px 0;}
.editprofil_contents label{font-size: 13px;font-weight: normal;}
.editprofil_contents input,.editprofil_contents textarea{border-radius: 5px;border:1px solid #ddd;font-size: 13px;padding: 5px;}
.editprofil_contents h3{
 background-color: #333333;
 padding: 15px;
 font-size: 13px;
 font-weight: bold;
 color: white;
 border-left-style: solid;
 border-left-color: #cc0000;
 border-left-style: solid;
 border-left-width: 7px;
}
.editprofil_contents input[type='submit']{
  width: 150px;text-align: center;background: #333;color: #fff;padding: 8px 5px;
}
/*=============== ============*/
.relatedposts{
  width: 100%;clear: both;
  margin: 25px 0;
}
.relatedposts .heads{
  background-color: #333333;
  padding: 7px 10px 7px 10px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  border-left-style: solid;
  border-left-color: #cc0000;
  border-left-style: solid;
  border-left-width: 7px;
}
.posts_relat ul{margin: 25px 0;}
.posts_relat ul li{position: relative;padding-left: 10px;}
.posts_relat ul li:after{
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #dd0505;
}
.posts_relat ul li a{    color: #333; padding: 5px;}
.posts_relat ul li a:hover{}
/*=============== ============*/
.comments_froms{
  background-color: white;
  padding: 25px;
  font-size: 11px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #ddd;
  position: relative;
  margin: 10px 0;
}
.comments_froms .heads{
  background-color: #333333;
  padding: 7px 10px 7px 10px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  border-left-style: solid;
  border-left-color: #cc0000;
  border-left-style: solid;
  border-left-width: 7px;
  margin-bottom: 20px;
}
/*=============== ============*/
.comments_block{
  background-color: white;
  padding: 25px;
  font-size: 11px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #ddd;
  position: relative;
  margin: 10px 0;
}
.chead{width: 100%;display: table;background: #333333; padding:10px 5px;font-size: 12px;}
.chead *{display: table-cell;text-align: left;color: #fff;}
.chead span.fa{display: inline-block;color: #bc7a7a;margin-right: 6px;}
.chead2 {overflow: hidden;}
.chead2 .cuser{width: 25%;float: left;height: 130px;}
.chead2 .cuser img{max-width: 100%;}
.chead2 .ctext{float: left;width: 75%;height: 130px;}
.chead2 #comm{
  padding: 20px;
  height: 90%;
  background: #f1f1f1;
  margin: 10px 5px 0;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;

}
/*=============== ============*/
.uservipnotallowd{margin-top: 15px;}
.uservipnotallowd .heads{    background-color: #333333;
    padding: 7px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    border-left-style: solid;
    border-left-color: #cc0000;
    border-left-style: solid;
    border-left-width: 7px;}
/*=============== ============*/
/*=============== ============*/
/*=============== ============*/
/*=============== ============*/
/*=============== ============*/
